<!DOCTYPE HTML>
<html lang = 'en'>
    <head>
        <meta charset="UTF-8">
        <title>Relevant YouTube Videos</title>
    </head>
    <body>
        <h1>{{ content1 }}</h1>
        <h2>{{ content2 }}</h2>

        <p> {{ video0 }} <a href = "{{ url0 }}"> </a> </p>
        <p>{{ video1 }} <a href = "{{ url1 }}"> </a> </p>
        <p>{{ video2 }} <a href = "{{ url2 }}"> </a> </p>
        <p>{{ video3 }} <a href = "{{ url3 }}"> </a> </p>
        <p>{{ video4 }} <a href = "{{ url4 }}"> </a> </p>
        <p>{{ video5 }} <a href = "{{ url5 }}"> </a> </p>
        <p>{{ video6 }} <a href = "{{ url6 }}"> </a> </p>
        <p>{{ video7 }} <a href = "{{ url7 }}"> </a> </p>
        <p>{{ video8 }} <a href = "{{ url8 }}"> </a> </p>
        <p>{{ video9 }} <a href = "{{ url9 }}"> </a> </p>

        <hr/>

        <h1>{{ content3 }}</h1>
        <iframe width="560" height="315" src="{{ embed_url }}" frameborder="0" allowfullscreen></iframe> 

        <hr/>
        
        <button><a href="/twitter">See trends on Twitter!</a></button>



    </body>
</html>
