<!DOCTYPE HTML>
<html lang = 'en'>
    <head>
        <meta charset="UTF-8">
        <title>Relevant YouTube Videos</title>
    </head>
    <body>
        <h1>{{ content1 }}</h1>
        <p>{{ content2 }}</p>

        <p><a href="url"> {{ link0 }} </a></p>
        <p><a href="url">{{ link1 }}</a></p>
        <p><a href="url">{{ link2 }}</a></p>
        <p><a href="url">{{ link3 }}</a></p>
        <p><a href="url">{{ link4 }}</a></p>
        <p><a href="url">{{ link5 }}</a></p>
        <p><a href="url">{{ link6 }}</a></p>
        <p><a href="url">{{ link7 }}</a></p>
        <p><a href="url">{{ link8 }}</a></p>
        <p><a href="url">{{ link9 }}</a></p>

        <hr/>

        <h1>{{ content3 }}</h1>
        <iframe width="560" height="315" src="{{ url0 }}" frameborder="0" allowfullscreen></iframe> 


        </iframe>
    </body>
</html>
