<!DOCTYPE HTML>
<html lang = 'en'>
    <head>
        <meta charset="UTF-8">
        <title>Relevant YouTube Videos</title>
    </head>
    <body>
        <h1>{{ content1 }}</h1>
        <h2>{{ content2 }}</h2>

        <p> {{ link0 }} </p>
        <p>{{ link1 }}</p>
        <p>{{ link2 }}</p>
        <p>{{ link3 }}</p>
        <p>{{ link4 }}</p>
        <p>{{ link5 }}</p>
        <p>{{ link6 }}</p>
        <p>{{ link7 }}</p>
        <p>{{ link8 }}</p>
        <p>{{ link9 }}</p>

        <hr/>

        <h1>{{ content3 }}</h1>
        <iframe width="560" height="315" src="{{ url0 }}" frameborder="0" allowfullscreen></iframe> 

        <hr/>
        
        <button><a href="/twitter">See trends on Twitter!</a></button>



    </body>
</html>
